@font-face {
  font-family: "Aktiv Grotesk";
  src: url("fonts/AktivGrotesk-Thin.otf") format("opentype");
}

@font-face {
  font-family: "FreightBook";
  src: url("fonts/Freight-Big-Pro-Book.otf") format("opentype");
}
@font-face {
  font-family: "FreightItalic";
  src: url("fonts/Freight-Big-Pro-Book-Italic.otf") format("opentype");
}
@font-face {
  font-family: "FreightBold";
  src: url("fonts/Freight-Big-Pro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "FreightBoldItalic";
  src: url("fonts/Freight-Big-Pro-Bold-Italic.otf") format("opentype");
}
@font-face {
  font-family: "Freigeist-Medium";
  src: url("fonts/Freigeist-Medium.ttf") format("truetype");
}
:root {
  --font-aktiv: "Aktiv Grotesk";
  --font-freight-i: "FreightItalic";
  --font-freight: "FreightBook";
  --font-freightbold: "FreightBold";
  --font-freightbold-i: "FreightBoldItalic";
  --font-logo: "Freigeist-Medium";
  --pinkcolor: #a81576;
  --bluecolor: #25125f;
  --yellowcolor: #bdad1c;
}

* {
  box-sizing: border-box;
}

hr {
  border: 0;
  height: 2px;
  background-color: var(--yellowcolor);
  width: 90%;
  margin-bottom: 20px;
}
.betweenproject {
  border: 0;
  height: 0.5px;
  background-color: var(--yellowcolor);
  width: 90%;
}
.icons {
  display: flex;
  width: 10%;
  justify-content: space-between;
}

.socials {
  align-self: center;
  margin: 0 auto;
  text-align: center;
}
.socialicons {
  border: none;
}

.centertitle {
  text-align: center;
  position: relative;
  letter-spacing: 3px;
  text-decoration: none;
  font-family: var(--font-aktiv);
  max-width: 650px;
  margin: 5px auto;
  color: black;
}

.headercolumn {
  display: flex;
  justify-content: space-between;
  width: 95%;
  max-width: 650px;
  margin: 30px auto;
}

.hamburger {
  width: 20px;
  height: 1.5px;
  background-color: black;
  margin: 6px 0;
}

.bio-paragraph {
  font-family: var(--font-aktiv);
  padding: 20px 0;
  width: 90%;
  max-width: 500px;
  text-align: justify;
  line-height: 1.6;
  background-color: white;
}
.headshot {
  z-index: 100;
  margin: 0 5%;
}
.bio-paragraph_contact {
  font-family: var(--font-aktiv);
  padding: 20px;

  max-width: 500px;
  text-align: justify;
  line-height: 1.6;
  background-color: white;
  position: relative;
  z-index: 200;
  border: 2px solid var(--pinkcolor);
  margin: -50px 10% 50px 10%;
}
.pull1 {
  font-family: var(--font-freight-i);
  color: #a81576;
  font-size: 150%;
  line-height: 0.6;
}
.pull2 {
  font-family: var(--font-freight-i);
  color: #655c0a;
  font-size: 120%;
  line-height: 0.6;
}
.pull3 {
  font-family: var(--font-freight-i);
  color: #25125f;
  font-size: 150%;
  line-height: 0.6;
}

p {
  font-family: var(--font-aktiv);
  font-size: clamp(13px, 4.8vw, 16px);
  width: 90%;
  max-width: 650px;
  margin: 0 auto 25px auto;
  line-height: 1.5;
}

h1 {
  font-family: var(--font-aktiv);
  font-weight: 700;
  margin: 50px auto 30px auto;
  width: 90%;
  max-width: 650px;

  text-align: center;
}
h2 {
  font-family: var(--font-aktiv);
  font-weight: 700;
  margin: 50px auto 20px auto;
  width: 90%;
  max-width: 650px;
}

h3,
h4 {
  font-family: var(--font-freight-i);
  font-weight: 100;
  font-size: 22px;
}
h4 {
  line-height: 0.3;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-text {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 650px;
  margin: 0 auto 10px auto;
}
.left-text {
  text-align: left;
}
.right-text {
  text-align: right;
}

.home-image-container {
  width: 90%;
  display: block;
  align-content: center;
  margin: 0 auto;
}
.homepage-images {
  max-width: 100%;
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto 25px auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav {
  font-size: 150%;
}
figure {
  margin: 0 auto;
}
nav li {
  background-color: var(--bluecolor);
  border: 2px solid white;
}
nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: white;
}
nav li:hover {
  background-color: var(--pinkcolor);
}
nav a:hover {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.kateimage {
  margin: 25px auto 25px auto;
  width: 90%;
  align-items: center;
  display: flex;
  border: none;
}
.video {
  margin: 0 auto;
  max-width: 90%;
}

.description {
  margin-top: 25px;
}
a.name {
  color: var(--bluecolor);
  text-decoration: none;
  font-size: large;
}
a.name:hover {
  color: var(--pinkcolor);
  text-decoration: none;
  font-size: large;
}

a.homecategories {
  color: whitesmoke;
  text-decoration: none;
  display: block;
  background-color: #a81576;
  /* background: url("Images/150ppi/header_background.png") no-repeat; */
  background-size: 100% 100%;
  width: 90%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.7;
  text-align: center;
}
.homecategories {
  color: whitesmoke;
  text-decoration: none;
  display: block;
  background-color: #a81576;
  /* background: url("Images/150ppi/header_background.png") no-repeat; */
  background-size: 100% 100%;
  width: 90%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.7;
  text-align: center;
}
a.homecategories:active {
  color: var(--bluecolor);
}
.homepage-images-container {
  background-color: var(--bluecolor);
  position: relative;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  width: 90%;
  max-width: 650px;
}
.homepage-images-container img {
  display: block;
  width: 100%;
}
img {
  border: 2px solid var(--pinkcolor);
}

a:hover img {
  opacity: 0.2;
}

section#bottom {
  margin-top: 50px;
  width: 100%;
}
