@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham Light.otf") format("opentype");
}
@font-face {
  font-family: "Aktiv Grotesk";
  src: url("fonts/AktivGrotesk-Thin.otf") format("opentype");
}

@font-face {
  font-family: "FreightBook";
  src: url("fonts/Freight-Big-Pro-Book.otf") format("opentype");
}
@font-face {
  font-family: "FreightItalic";
  src: url("fonts/Freight-Big-Pro-Book-Italic.otf") format("opentype");
}
@font-face {
  font-family: "FreightBold";
  src: url("fonts/Freight-Big-Pro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "FreightBoldItalic";
  src: url("fonts/Freight-Big-Pro-Bold-Italic.otf") format("opentype");
}
@font-face {
  font-family: "Freigeist-Medium";
  src: url("fonts/Freigeist-Medium.ttf") format("truetype");
}
:root {
  --font-gotham: "Gotham";
  --font-aktiv: "Aktiv Grotesk";
  --font-freight-i: "FreightItalic";
  --font-freight: "FreightBook";
  --font-freightbold: "FreightBold";
  --font-freightbold-i: "FreightBoldItalic";
  --font-logo: "Freigeist-Medium";
  --pinkcolor: #a81576;
  --bluecolor: #25125f;
  --yellowcolor: #655c0a;
}

* {
  box-sizing: border-box;
}
hr {
  border: 0;
  height: 1px;
  background-color: var(--yellowcolor);
}
.headercolumn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 370px;
  margin: 0 auto;
}

.hamburger {
  width: 20px;
  height: 1.5px;
  background-color: black;
  margin: 6px 0;
}
.contact {
  text-align: center;
}
.bio-paragraph {
  font-family: var(--font-aktiv);
  padding: 20px 0;
  width: 90%;
  max-width: 500px;
  text-align: justify;
  line-height: 1.6;
}
.pull1 {
  font-family: var(--font-freight-i);
  color: #a81576;
  font-size: 150%;
  line-height: 0.6;
}
.pull2 {
  font-family: var(--font-freight-i);
  color: #655c0a;
  font-size: 120%;
  line-height: 0.6;
}
.pull3 {
  font-family: var(--font-freight-i);
  color: #25125f;
  font-size: 150%;
  line-height: 0.6;
}

p {
  font-family: var(--font-aktiv);
  font-size: clamp(13px, 4.8vw, 16px);
  width: 90%;
  max-width: 800px;
  margin: 0 auto 35px auto;
}
a.km {
  text-decoration: none;
  font-family: var(--font-aktiv);
}
h1 {
  font-family: var(--font-aktiv);
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 30px;
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  font-family: var(--font-aktiv);
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 30px;
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h3,
h4 {
  font-family: var(--font-freight-i);
  font-weight: 100;
  font-size: 22px;
}
h4 {
  line-height: 0.3;
  font-family: var(--font-freight-i);
  font-size: 22px;
  text-align: top;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-text {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 800px;
  margin: 0 auto 10px auto;
}
.left-text {
  text-align: left;
}
.right-text {
  text-align: right;
}

.home-image-container {
  width: 90%;
  display: block;
  align-content: center;
}
.homepage-images {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav {
  font-size: 150%;
}

nav li {
  background-color: var(--pinkcolor);
  border: 2px solid white;
}
nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: white;
}
nav li:hover {
  background-color: var(--bluecolor);
}
nav a:hover {
  display: block;
  padding: 10px;
  text-decoration: none;
}
.kateimage {
  margin: auto;
  width: 90%;
  align-items: center;
  display: flex;
}
.headercolumn {
  margin: 30px auto;
}
a.name {
  color: var(--bluecolor);
  text-decoration: none;
  font-size: large;
}
a.name:hover {
  color: var(--pinkcolor);
  text-decoration: none;
  font-size: large;
}

a.homecategories {
  color: var(--pinkcolor);
  text-decoration: none;
  display: block;
  margin-bottom: 25px;
}

a.homecategories:active {
  color: var(--bluecolor);
}
.homepage-images-container {
  background-color: var(--bluecolor);
  position: relative;
  display: inline-block;
  margin-bottom: 25px;
  box-sizing: border-box;
  width: 90%;
  border-bottom: 10px solid #25125f;
}
.homepage-images-container img {
  display: block;
  width: 100%;
  height: auto;
}
a:hover img {
  opacity: 0.2;
}

.overlay-text {
  opacity: 0;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 365px;
}
.overlay-text:hover {
  opacity: 1;
}
.homepage-images-container .overlay-text:active {
  opacity: 1;
  color: white;
}
